*.class

#Eclipse 
.project
.classpath
.settings/

# Gradle 
.gradle/
build/

# Package Files #
*.jar
*.war
*.ear
/bin
/target

#GFM viewer support 
*.md.html

# SBT 
.cache-main
.cache-tests
target/ 

project/project/
project/target/
bin/
